/* edit.css */
body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    background-color: #000033; /* Azul oscuro */
    color: #f1f1f1; /* Blanco claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
    overflow: hidden; /* Evitar scroll */
}

.container {
    width: 100vw; /* Ancho total de la ventana del navegador */
    height: 100vh; /* Alto total de la ventana del navegador */
    overflow: auto; /* Permitir desplazamiento vertical si es necesario */
    padding: 20px;
    box-sizing: border-box; /* Incluye padding en el ancho y alto total */
    background-color: #000033; /* Fondo azul oscuro */
}

h1 {
    text-align: center;
    color: #F2C46D; /* Amarillo claro */
    margin-bottom: 20px;
}

.flash-message {
    background-color: #F2C46D; /* Amarillo claro */
    color: #000033; /* Azul oscuro */
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #FCF7FE; /* Blanco roto */
    color: #000033; /* Azul oscuro */
    border: 1px solid #F2C46D; /* Amarillo claro */
    border-radius: 8px; /* Bordes redondeados para la tabla */
    overflow: hidden; /* Asegura que los bordes redondeados sean visibles */
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

table th {
    background-color: #F2C46D; /* Amarillo claro */
    color: #000033; /* Azul oscuro */
    font-size: 1.1rem; /* Tamaño de fuente ligeramente mayor */
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

.action-form {
    display: inline;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem; /* Tamaño de fuente relativo al tamaño de la fuente raíz */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    text-decoration: none;
    color: #fff;
}

.btn-update {
    background-color: #4CAF50; /* Verde */
}

.btn-update:hover {
    background-color: #45a049; /* Verde más oscuro */
}

.btn-delete {
    background-color: #f44336; /* Rojo */
}

.btn-delete:hover {
    background-color: #e53935; /* Rojo más oscuro */
}

.btn-home {
    display: block;
    text-align: center;
    background-color: #2196F3; /* Azul */
    padding: 10px;
    margin: 20px auto;
    width: 200px;
    font-size: 1.2rem; /* Tamaño de fuente mayor para el botón */
}

.btn-home:hover {
    background-color: #1976D2; /* Azul más oscuro */
}

/* Mejorar los estilos de los botones */
.btn {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:focus, .btn:active {
    outline: none; /* Elimina el borde por defecto del navegador */
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2); /* Agrega un borde más visible al enfocar */
}

