/* update-character.css */
body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    background-color: #000033; /* Azul oscuro */
    color: #f1f1f1; /* Blanco claro */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Altura mínima de la ventana del navegador */
    overflow: hidden; /* Evitar scroll */
}

.container {
    width: 100%;
    max-width: 800px; /* Ancho máximo para el contenedor */
    padding: 20px;
    box-sizing: border-box; /* Incluye padding en el ancho total */
    background-color: #000033; /* Fondo azul oscuro */
    color: #f1f1f1; /* Blanco claro */
    text-align: center;
}

.header-container {
    margin-bottom: 20px;
}

h1 {
    color: #F2C46D; /* Amarillo claro */
    font-size: 2.5rem; /* Tamaño grande del título */
}

.update-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.update-form label {
    display: block;
    margin-bottom: 5px;
    color: #F2C46D; /* Amarillo claro */
    font-size: 1rem; /* Tamaño de fuente */
}

.update-form input[type="text"] {
    width: 100%;
    max-width: 500px; /* Ancho máximo del campo de entrada */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box; /* Incluye padding en el ancho total */
}

button.btn-update {
    background-color: #4CAF50; /* Verde */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem; /* Tamaño de fuente */
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button.btn-update:hover {
    background-color: #45a049; /* Verde más oscuro */
}

.button-container {
    margin-top: 20px;
}

a.btn-home, a.btn-edit {
    display: inline-block;
    text-align: center;
    background-color: #2196F3; /* Azul */
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem; /* Tamaño de fuente mayor */
    transition: background-color 0.3s, transform 0.3s;
}

a.btn-home:hover {
    background-color: #1976D2; /* Azul más oscuro */
}

a.btn-edit {
    background-color: #FFC107; /* Amarillo */
}

a.btn-edit:hover {
    background-color: #FFA000; /* Amarillo más oscuro */
}
