
body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    background-color: #000033; 
    color: #f1f1f1; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw; 
    min-height: 100vh; 
    overflow-x: hidden;
    overflow-y: auto; 
}

.book {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000033; 
    padding: 20px;
    box-sizing: border-box; 
}

.page {
    display: flex;
    flex-direction: row; 
    align-items: center;
    background-color: #FCF7FE; 
    border: 1px solid #F2C46D;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px; 
    height: auto;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.image {
    max-width: 100%;
    max-height: 50vh; 
    width: auto;
    height: auto;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

p {
    margin: 10px 0;
    color: #000000; 
    font-size: 1rem; 
}

strong {
    color: #000000; 
    text-transform: uppercase;
}

.title {
    text-align: center;
    color: #F2C46D; 
    font-size: 2rem; 
}

/* Botones adicionales */
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem; 
    font-weight: bold;
    text-decoration: none;
    color: #f1f1f1;
    background-color: #ffcc00; 
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.btn:hover,
.btn:focus {
    background-color: #ff9900; 
    color: #000033; 
    transform: scale(1.05); 
}

.btn:active {
    background-color: #cc7a00; 
    transform: scale(0.95); 
}

/* Media Queries para diseño responsivo */
@media (max-width: 768px) {
    .title {
        font-size: 1.5rem;
    }

    .page {
        flex-direction: column; /* En pantallas más pequeñas, la imagen y el texto estarán uno encima del otro */
    }

    .image-container {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .text-content {
        align-items: center;
    }

    .btn {
        font-size: 1rem;
        padding: 8px 16px;
    }

    p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 1.2rem;
    }

    .page {
        flex-direction: column; /* En pantallas muy pequeñas, la imagen y el texto estarán uno encima del otro */
    }

    .image-container {
        margin-bottom: 10px;
    }

    .btn {
        font-size: 0.9rem;
        padding: 6px 12px;
    }

    p {
        font-size: 0.8rem;
    }
   
}


