/* st.css */
body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    background-color: #000033; /* Azul oscuro */
    color: #f1f1f1; /* Color de texto blanco claro */
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.book {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto; /* Ajusta según sea necesario */
    overflow: hidden;
    position: relative;
    text-align: center;
    font-size: 20px;
}

.page {
    background-color: #FCF7FE; /* Blanco roto */
    border: 1px solid #F2C46D; /* Amarillo claro */
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto; /* Ajustado según el contenido */
}

.pagination {
    margin: 20px 0;
    text-align: center;
}

.pagination a {
    padding: 10px;
    margin: 0 5px;
    background-color: #0E1259; /* Azul oscuro */
    color: #fff; /* Blanco */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.pagination a:hover {
    background-color: #161C8C; /* Azul más oscuro */
}

p {
    margin: 15px 0;
    text-align: center;
    word-wrap: break-word;
    color: #000000; /* Negro */
}

strong {
    color: #000000; /* Negro */
    text-transform: uppercase;
}

.title {
    text-align: center;
    color: #F2C46D; /* Amarillo claro */
}

/*--------*/
/* IMAGEN */
.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.image {
    max-width: 70%;
    height: auto;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Botones adicionales */
.btn {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #f1f1f1; /* Blanco */
    background-color: #ffcc00; /* Amarillo */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.btn:hover,
.btn:focus {
    background-color: #ff9900; /* Amarillo más oscuro */
    color: #000033; /* Azul oscuro */
    transform: scale(1.05); /* Aumento sutil del tamaño */
}

.btn:active {
    background-color: #cc7a00; /* Amarillo aún más oscuro */
    transform: scale(0.95); /* Reducir el tamaño al hacer clic */
}

