/* styles.css */
body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    background-color: #000033;
    color: #ffffff;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    box-sizing: border-box;
}


header {
    width: 100%;
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
    gap: 20px; 
}

.header-content {
    display: flex;
    align-items: center; /* alineo verticalmente la imagen y el texto */
    gap: 20px; 
}

.header-img {
    width: 100%;
    max-width: 500px; /* agrando imagen */
    height: auto;
}

.header-description {
    max-width: 400px; /* Limita el ancho de la descripción */
    text-align: left; 
}

.header-description h2 {
    color: #F2C46D; 
    font-size: 1.5rem; 
    margin-bottom: 10px;
}

.header-description p {
    font-size: 1rem; 
    color: #ffffff; 
}

main {
    text-align: center; 
}

main h1 {
    font-size: 2rem; 
    color: #F2C46D; 
    margin-bottom: 20px;
}
/* configuracion de los botones*/

.buttons {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: center; 
}

.buttons a {
    text-decoration: none;
}

.buttons button {
    background-color: #ffcc00; 
    color: #000033; 
    border: none;
    padding: 8px 16px; 
    font-size: 0.9rem; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.buttons button:hover {
    background-color: #ff9900; 
    transform: scale(1.05); 
}

.buttons button:active {
    background-color: #cc7a00; 
    transform: scale(0.95); 
}

