body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000033;
    color: #ffffff;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 100vh;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido en el eje vertical */
    width: 100%;
    max-width: 1200px; /* Limitar el ancho máximo */
    padding: 20px;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    justify-content: center; /* Centra la imagen */
    margin-bottom: 20px;
}

.header-img {
    width: 100%; /* Asegura que la imagen ocupe el ancho disponible */
    max-width: 800px; /* Ajusta el ancho máximo de la imagen */
    height: auto;
}

nav.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

nav.sidebar a {
    color: #ffcc00;
    text-decoration: none;
    margin: 10px 0;
}

nav.sidebar a h2 {
    margin: 0;
    font-size: 1.5rem; /* Tamaño del texto de los enlaces */
}

nav.sidebar a:hover {
    text-decoration: underline;
}

main {
    text-align: center; /* Centra el texto en el main */
}

main p {
    font-size: 2rem; /* Tamaño del texto del párrafo */
    color: #ffcc00;
}
