<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Personaje</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <!-- Mostrar mensajes flash -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container">
        <form action="/agregar" method="POST">

            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
            
            <label for="edad">Edad:</label>
            <input type="text" id="edad" name="edad" placeholder="Joven, adulto, niño" required>
            
            <div class="row">
                <div>
                    <label for="ropa">Ropa:</label>
                    <input type="text" id="ropa" name="ropa" required>
                </div>
                <div>
                    <label for="pelo">Pelo:</label>
                    <input type="text" id="pelo" name="pelo" placeholder="Rubio, negro, sin pelo" required>
                </div>
            </div>
    
            <div class="row">
                <div>
                    <label for="raza">Raza:</label>
                    <input type="text" id="raza" name="raza" placeholder="Humano, no humano, animal" required>
                </div>
                <div>
                    <label for="genero">Género:</label>
                    <input type="text" id="genero" name="genero" placeholder="Mujer/hombre" required>
                </div>
            </div>
            
            <label for="color">Color:</label>
            <input type="text" id="color" name="color" placeholder="Color que identifica a tu personaje" required>
            
            <button type="submit">Agregar</button>
        </form>
    </div>

    <div class="image-container">
        <img src="../static/disney.jpg" alt="Imagen Disney">
    </div>

    <div class="header-container">
        <h1>Agregar Nuevo Personaje</h1>
        <a href="http://127.0.0.1:5000/"><h2>Volver al inicio</h2></a>
    </div>
</body>
</html>
