<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de la Consulta</title>
</head>
<body>
    <h1>Resultados de la Consulta</h1>

    <form action="/agregar", method="POST">
        <input type="text" name="nombre" placeholder="Nombre"> <br> <br>
        <input type="text" name="edad" placeholder="Joven, adulto, niño"> <br> <br>
        <input type="text" name="pelo" placeholder="Rubio, negro, sin pelo"> <br> <br>
        <input type="text" name="raza" placeholder="Humano, no humano, animal"> <br> <br>
        <input type="text" name="genero" placeholder="Mujer/hombre"> <br> <br>
        <input type="text" name="color" placeholder="Color que identifica a tu personaje">
<button type="submit"> Listo</button>        
    </form>
    <a href="http://127.0.0.1:5000/"><h1>Volver al inicio</h1></a>
</body>
</html>
