<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
</head>
<body>
    <a href="http://127.0.0.1:5000/"><h2>Jugar</h2></a>

    <a href="http://127.0.0.1:5000/editar"><h2>Editar</h2></a>

    <a href="http://127.0.0.1:5000/agregar"><h2>Agregar personaje</h2></a>
    
    <a href="http://127.0.0.1:5000/personajes"><h2>Lista de personajes</h2></a>
<!--
    <form action="/pj" method="post">
        <label for="id_pj">Elije un personaje:</label>
        <input type="text" name="id_pj">
        <br><br>
        <button type="submit">Consultar</button>
-->
    <p>Esta es la página de inicio.</p>
    </form>
    
</body>
</html>
