<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <img src="{{ url_for('static', filename='mickey_fantasia.jpeg') }}" alt="Mickey Mouse Fantasia" class="header-img">
        </header>
        <main>
            <h1>Explora el mágico mundo de Disney</h1>
            <div class="buttons">
                <a href="{{ url_for('iniciar_juego') }}"><button>Jugar</button></a>
                <a href="{{ url_for('editar') }}"><button>Editar</button></a>
                <a href="{{ url_for('agregar') }}"><button>Agregar Personaje</button></a>
                <a href="{{ url_for('lista') }}"><button>Lista de Personajes</button></a>
            </div>
        </main>
    </div>
</body>
</html>
