<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='st.css') }}">
    <title>Lista de Personajes</title>
</head>
<body>
    <div class="container">
        <h1  class="title">Lista de Personajes</h1>
        <div class="book">
            {% if results %}

            <div class="page">
                {% for attribute, value in results[0].items() %}
                    <p><strong>{{ attribute }}:</strong> {{ value }}</p>
                {% endfor %}
            </div>

            {% else %}
                <p>No hay personajes disponibles.</p>
            {% endif %}
        </div>

        <div class="pagination">
            {% if page > 1 %}
            <a href="{{ url_for('lista', page=page-1) }}">Anterior</a>
            {% endif %}
            {% if page < pages %}
            <a href="{{ url_for('lista', page=page+1) }}">Siguiente</a>
            {% endif %}
        </div>
        
        <a href="{{ url_for('home') }}"><h1>Volver al inicio</h1></a>
    </div>
</body>
</html>

